* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background: #e6ecf0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  margin-left: 25px;
}

header#main-header nav ul li img {
  margin-right: 7px;
  width: 20px;
  height: 20px;
}

header#main-header .logo {
  width: 60px;
  height: 60px;
  padding-bottom: 12px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  font-size: 12px;
  background: #f5f8fa url('/Project/images/search.svg') no-repeat 190px center;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  background: #3db9e3;
  height: 34px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3bb9e3;
  color: #3bb9e3;
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  font-weight: bold;
  font-size: 18px;
  color: #667580;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .actions {
  display: flex;
  flex-direction: row;
}

div.bar .content .actions img {
  filter: invert(45%) sepia(17%) saturate(363%) hue-rotate(163deg)
    brightness(95%) contrast(87%);
}

div.bar .content .actions button {
  height: 34px;
  width: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;

  margin-right: 10px;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: -130px;
  border: 5px solid #fff;
}

div.wrapper-content aside.profile img {
  width: 15px;
  height: 15px;
}

div.wrapper-content aside.profile h1 {
  margin-top: 10px;
  font-size: 21px;
  color: #1f2226;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626c;
  margin-top: 10px;
}

div.wrapper-content aside.profile p {
  margin-top: 15px;
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

div.wrapper-content aside.profile ul.metadata li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #657786;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul.metadata li:first-child {
  margin-top: 0;
}

div.wrapper-content aside.profile ul.metadata li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile ul.metadata li a {
  text-decoration: none;
  color: #3bb9e3;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 6px;
}

div.wrapper-content aside.profile .followers ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li img {
  width: 45px;
  height: 45px;
  background: #d0d5d9;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 3px 0 0 3px;
  flex-grow: 1;
  flex-shrink: 0;
}

div.wrapper-content aside.profile .photos ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

div.wrapper-content aside.profile .photos ul li img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin: 5px 5px 0 0;
  flex-grow: 1;
  flex-shrink: 0;
}

div.wrapper-content .timeline {
  flex: 1;
  background: #fff;
  margin: 10px 20px 0;
}

div.wrapper-content section.timeline nav {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

div.wrapper-content section.timeline nav a {
  text-decoration: none;
  color: #3bb9e3;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

div.wrapper-content section.timeline nav a:first-child {
  margin-left: 0;
}

div.wrapper-content section.timeline nav a.active {
  color: #000;
}

div.wrapper-content section.timeline ul.tweets {
  list-style: none;
}

div.wrapper-content section.timeline ul.tweets li {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
  display: flex;
}

div.wrapper-content section.timeline ul.tweets li > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  flex-grow: 1;
  flex-shrink: 0;
}

div.wrapper-content section.timeline ul.tweets li div.info {
  margin-left: 10px;
  flex-direction: column;
}

div.wrapper-content section.timeline ul.tweets li div.info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content section.timeline ul.tweets li div.info strong span {
  font-size: 13px;
  font-weight: normal;
  color: #777777;
}

div.wrapper-content section.timeline ul.tweets li div.info p {
  font-size: 14px;
  color: #1f2326;
  margin-top: 5px;
}

div.wrapper-content section.timeline ul.tweets li div.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

div.wrapper-content section.timeline ul.tweets li div.actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 40px;
  font-size: 12px;
  color: #777777;
}

div.wrapper-content section.timeline ul.tweets li div.actions a:first-child {
  margin-left: 0;
}

div.wrapper-content section.timeline ul.tweets li div.actions a > img {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

div.wrapper-content aside.widgets {
  width: 290px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
}

div.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a {
  font-size: 12px;
  color: #3bb9e3;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before {
  content: '';
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 4px;
  top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 5px 5px 0 0;
  flex-grow: 1;
  flex-shrink: 0;
}

div.wrapper-content aside.widgets .follow ul li .profile .info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button {
  background: #fff;
  height: 27px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
  margin-top: 5px;
}

div.wrapper-content aside.widgets .follow ul li > a {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 12px;
}
